[*.cs]

# CS8603: Existence possible d'un retour de référence null.
dotnet_diagnostic.CS8603.severity = silent

# CS8600: Conversion de littéral ayant une valeur null ou d'une éventuelle valeur null en type non-nullable.
dotnet_diagnostic.CS8600.severity = none

# CS8602: Déréférencement d'une éventuelle référence null.
dotnet_diagnostic.CS8602.severity = none

# CS8604: Existence possible d'un argument de référence null.
dotnet_diagnostic.CS8604.severity = none

# CS8619: La nullabilité des types référence dans la valeur ne correspond pas au type cible.
dotnet_diagnostic.CS8619.severity = none
